<mat-toolbar color="primary">
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/about" routerLinkActive="mat-accent">About</button>
    <button mat-button routerLink="/portfolio" routerLinkActive="mat-accent">Portfolio</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/about" routerLinkActive="mat-accent">About</button>
  <button mat-menu-item routerLink="/portfolio" routerLinkActive="mat-accent">Portfolio</button>
</mat-menu>
