img {
  height: 8rem;
}

mat-card{
  margin: .5rem;
}

.card{
  min-width: 18rem;
  max-width: 128px;
  height: 337px;
  margin-bottom: 1.2rem;
}

.project-card {
  max-width: 400px;
}

@media screen and (max-width: 360px){
  .card{
    max-width: 250px;
  }
}


