<mat-card class="about-mat-card">
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="250px">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let skill of skills" class="slide">
          <app-skill [skill]=skill></app-skill>
        </div>
      </ngx-slick-carousel>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
