<app-layout></app-layout>
<mat-card class="example-card">

  <mat-card-content>



  </mat-card-content>

  <div id="about" class="container section">
    <div class="container">
      <div class="row justify-content-center align-self-center">
        <div class="photoContainer col-md-5" id="photoContainer">
          <img class="aboutImage rounded-circle" [src]="image" alt="photo">
        </div>
        <div class="col-md-7">
          <h4>My name is Alberto González Balderas</h4>
          <p>Hi! I'm Alberto from León, Gto. México. I currently work as a Software Engineer at AlMaximo.
            I have many years experience creating software and websites.
            I have experience programming in may different languages such Java, C#, JavaScript and Python.
          </p>
          <p>I graduated from Instituto Tecnológico de León in Computer Systems Engineering. </p>
        </div>
      </div>
    </div>
  </div>

</mat-card>
