<mat-card class="about-mat-card">
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center about-container">
          <img class="about-image rounded-circle" [src]="image" alt="photo">
        </div>
        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 about-container">
          <h4>Hello!</h4>
          <h1>I'm <strong>Alberto González</strong></h1>
          <h2>Software developer.</h2>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
