<mat-card class="mat-card">
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile rowspan="2">
        <img class="about-image rounded-circle" [src]="image" alt="photo">
      </mat-grid-tile>
      <mat-grid-tile rowspan="2">
        <div class="about-container">
          <h4>Hello!</h4>
          <h1>I'm <strong>Alberto González</strong></h1>
          <h2>Software developer.</h2>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
