h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  line-height: 2.5rem;
}

h2{
  font-size: 2rem;
  margin-top: 1rem;
}

h4{
  font-size: 1.5rem;
  color: gray;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 strong {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #026fff;
  letter-spacing: .3rem;
}

.background{
  background-color: gainsboro;
  z-index: 1;
}

.about-container{
  display: block;
  margin-bottom: 7px;
}

.about-image{
  border: 1.5px solid #026fff;
  max-width: 40%;
  margin-bottom: 20px;
}

.social-container{
  margin-bottom: 6px;
}

.social{
  max-width: 110%;
}

@media screen and (max-width: 355px){
  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1rem;
  }

  h4{
    font-size: 1rem;
    margin-top: .7rem;
  }
}

@media screen and (max-width: 280px){
  h4{
    font-size: 1rem;
  }

  h1{
    font-size: 1rem;
  }

  h1 strong{
    letter-spacing: 0;
  }
}
