h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  line-height: 2.5rem;
}

h2{
  font-size: 2rem;
  margin-top: 1rem;
}

h4{
  font-size: 1.5rem;
  color: gray;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 strong {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #026fff;
  letter-spacing: .3rem;
}

.mat-card{
  margin: 1.5rem;
}

.background{
  background-color: gainsboro;
  height: 100%;
  z-index: 1;
}

.about-container{
  display: block;
}

.about-image{
  border: 1.5px solid #026fff;
  max-width: 40%;
}
