<mat-card class="about-mat-card">
  <mat-card-header class="d-flex justify-content-center">
    <mat-form-field>
      <mat-label>Technologys</mat-label>
      <mat-select [formControl]="technologysControl" multiple>
        <mat-select-trigger>
          <mat-chip-list>
            <mat-chip *ngFor="let technology of technologysControl.value" [removable]="true"
              (removed)="onTechnologyRemoved(technology)">
              {{ technology.name }}
              <!-- <mat-icon matChipRemove>cancel</mat-icon> -->
            </mat-chip>
          </mat-chip-list>
        </mat-select-trigger>
        <mat-option *ngFor="let technology of technologys" [value]="technology">{{technology.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" type="button" (click)="searchProjects()">
      Search
    </button>
  </mat-card-header>

  <mat-card-content>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <app-projects [projects]="projects"></app-projects>
  </mat-card-content>
</mat-card>
