<div class="d-flex justify-content-center footer-container p-3 text-dark bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-wrap text-center">
        This site was developed with:
        <p>
          <img [src]="angular" alt="angular" class="angular"> <img [src]="bootstrap" alt="bootstrap" class="bootstrap">
          <img [src]="node" alt="node" class="node"> <img [src]="express" alt="express" class=""> <img [src]="graphql"
            alt="graphql" class="grapQL"> <img [src]="mongodb" alt="mongodb" class="mongoDB">
        </p>
      </div>
    </div>
  </div>
</div>
