<h1>Statistics</h1>
<a routerLink="/admin/statistics/create" mat-button color="accent">CREATE</a>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<table mat-table [dataSource]="statistics" class="mat-elevation-z8 col-md-12">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let statistic"> {{statistic.name}}</td>
  </ng-container>
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let statistic"> {{statistic.value}}</td>
  </ng-container>
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef>Icon</th>
    <td mat-cell *matCellDef="let statistic">{{statistic.icon}}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let statistic">
      <a [routerLink]="['/admin/statistics/details',statistic._id]" mat-button>DETAILS</a>
      <a [routerLink]="['/admin/statistics/edit',statistic._id]" mat-button color="primary">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(statistic._id)">DELETE</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
