/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {margin: 0;}

mat-form-field,
textarea {
    width: 100%;
}

mat-spinner{
  margin: auto;
}

input[type="file"]{
  visibility: hidden;
}

.image-preview{
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img{
  height: 100%;
}

.carousel-inner,
.carousel-item{
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

.carousel-indicators{
  display: none;
}

.about-mat-card{
  margin: 1.5rem;
}

.background{
  background-color: gainsboro;
  height: 100%;
  z-index: 1;
}
