h2{
  color: #026fff;
  margin-top: 1rem;
  margin-bottom: .3rem;
}

p{
  margin: 0 1rem 1rem 1rem;
  font-size: 1rem;
}

.skill {
  width: 13rem;
  height: 14rem;
  border: gainsboro 1px solid;
  text-align: center;
  margin: 0 2rem;
}

.chart{
  margin-top: 1rem;
  position: relative;
  width: 5rem;
  height: 5rem;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent{
  color: #026fff;
  line-height: 5rem;
  font-weight: bold;
  font-size: 1.7rem;
}

.chart .percent:after{
  content: '%';
}

.percent{
  position: absolute;
  z-index: 3;
  padding: 0;
  margin-top: -5.5rem;
  margin-left: -.7rem;
}

@media screen and (max-width: 375px){

  .skill{
    width: 12rem;
  }

  h2{
    font-size: 1.4rem;
  }

  .percent{
    font-size: 1.5rem;
  }

  p{
    margin: .7rem;
    font-size: .9rem;
  }

}

@media screen and (max-width: 320px){

  .skill{
    width: 10rem;
    height: 13.55rem;
    margin: 0 .1rem;
  }

  h2{
    font-size: 1.1rem;
  }

  .percent{
    font-size: .7rem;
  }

  p{
    margin: .5rem;
    font-size: .7rem;
  }

}
