<easy-pie-chart>{{skill.percent}}</easy-pie-chart>
<!-- <div class="skill">
  <span class="chart" data-percent="67">
    <span class="percent">67</span>
    <canvas height="152" width="152"></canvas>
  </span>
  <h4>JavaScript</h4>
  <p>Used in the biometric.</p>
</div> -->

<!-- <div class="skill">
  <span class="chart" data-percent="67">
    <span class="percent">{{skill.percent}}</span>
    <canvas height="152" width="152"></canvas>
  </span>
  <h4>{{skill.name}}</h4>
  <p>{{skill.description}}</p>
</div> -->
